<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Products Form</title>
    </head>
    <body>
        <form action="/products" method="POST">
            <fieldset>
                <legend>Product</legend>

                <label for="title">Title</label>
                <input type="text" name="title" id="title" placeholder="Title of product" required/>
                <label for="price">Price</label>
                <input type="text" name="price" id="price" placeholder="Ex. 10.00" required/>
                <label for="description">Description</label>
                <input type="text" name="description" id="description" placeholder="Description" />
            </fieldset>
            <input type="submit" value="Save Product" />
        </form>
    </body>
</html>