<html>
    <head>
        <title>List of Products</title>
    </head>
    <body>
        <table border=1>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < products.length; i++) { %> 
                    <tr>
                        <td><%= products[i].id %></td>
                        <td><%= products[i].nome %></td>
                        <td><%= products[i].codigo %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>